footer{
    font-family: 'Alkalami', serif;
    width: 100%;
    background-image: linear-gradient(to bottom,#000000 , #710707);
    .grupouno{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        padding: 45px 0;
        h2{
            color: white;
            margin-bottom: 25px;
            font-size: 20px;
        }
        h4{
            color: white;
            margin-bottom: 10px;
            font-size: 1em;
        }
        .redes{

            a{
                display: inline-block;
                text-decoration: none;
                width: 45px;
                height: 45px;
                line-height: 45px;
                color: white;
                margin-right: 10px;
           
                text-align: center;
            }
           }   
    }

    .grupodos{
        padding: 15px 10px;
        text-align: center;
        color: white;}
}   

@media screen and (max-width:800px){
    footer{
        .grupouno{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }
    }
    
}